# Ignore node_modules folder
node_modules/

# Ignore __pycache__ folders in any directory
__pycache__/

# Ignore the data folder inside backend
backend/data/

backend/test.py

backend/train.py
backend/output/
l.py
ll.py

backend/download.py
backend/imagenet21k_labels.csv
backend/images (4).jpeg
backend/maple.jpeg
backend/uploads/
backend/yolov8x.pt
backend/models